@font-face {
    font-family: 'zabars';
    src: url(fonts/zabars.ttf);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(img/5_background/desert-5112222_1280.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

.canvas {
    height: 480px;
    width: 720px;
    background-color: black;
    display: block;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction {
    font-size: 32px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 20px;
    font-size: 24px;
}

a {
    color: black;
    cursor: pointer;
}

.tone {
    position: relative;
}

.mute {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 0.5rem;
    transition: all 225ms ease-in-out;
    cursor: pointer;
    background-color: rgba(255, 223, 0, 1);
}

.loud {
    position: absolute;
    top: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.legalNotice {
    height: 480px;
    width: 700px;
    position: absolute;
    background-color: rgba(255, 223, 0, 1);
    z-index: 1;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.privacyPolicy {
    height: 480px;
    width: 700px;
    position: absolute;
    background-color: rgba(255, 223, 0, 1);
    z-index: 1;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.d-none {
    display: none !important;
}

.close {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    cursor: pointer;
}

footer {
    display: flex;
    gap: 8px;
}

.legalNoticeButton {
    text-decoration: underline;
    cursor: pointer;
}

.privacyPolicyButton {
    text-decoration: underline;
    cursor: pointer;
}

.endscreen {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 720px;
    height: 480px;
    background-color: white;
    z-index: 1;
}

.startscreen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 720px;
    height: 480px;
    background-color: white;
    z-index: 1;
}

.endscreen button {
    position: absolute;
    margin-top: 20px;
    background-color: rgba(255, 223, 0, 1);
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 64px;
    border-radius: 10px;
    cursor: pointer;
}

.startscreen button {
    position: absolute;
    margin-top: 20px;
    background-color: rgba(255, 223, 0, 1);
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 64px;
    border-radius: 10px;
    cursor: pointer;
}

.endscreen img {
    width: 720px;
    height: 480px;
}

.startscreen img {
    width: 720px;
    height: 480px;
}

.turnYourDevice {
    position: absolute;
    background-color: rgba(255, 223, 0, 1);
    z-index: 1;
    height: 480px;
    width: 720px;
    font-size: 64px;
    display: none;
}

.buttons {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
  
.button {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
}
  
.jump-button {
    background-color: rgba(255, 223, 0, 1);
    border-radius: 10px;
    font-size: 30px;
    width: 60px;
    cursor: pointer;
}
  
.throw-button {
    background-color: rgba(255, 223, 0, 1);
    border-radius: 10px;
    font-size: 30px;
    width: 100px;
    cursor: pointer;
}

.left-button {
    background-color: rgba(255, 223, 0, 1);
    border-radius: 10px;
    font-size: 30px;
    width: 60px;
    cursor: pointer;
}

.right-button {
    background-color: rgba(255, 223, 0, 1);
    border-radius: 10px;
    font-size: 30px;
    width: 60px;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .canvas {
        width: 100%;
    }

    canvas {
        width: 100%;
    }

    .startscreen {
        width: 100%;
    }

    .endscreen {
        width: 100%;
    }

    .legalNotice {
        width: 100%;
    }

    .privacyPolicy {
        width: 100%;
    }

    .endscreen img {
        width: 100%;
    }
    
    .startscreen img {
        width: 100%;
    }

    .turnYourDevice {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .turnYourDevice {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .instruction {
        display: none;
    }

    h1 {
        display: none;
    }

    .tone {
        display: none;
    }

    footer {
        display: none;
    }
}

@media only screen and (max-width: 460px) {
    .turnYourDevice {
        font-size: 32px;
    }
}

@media only screen and (max-height: 840px) {
    .instruction {
        flex-direction: unset;
        font-size: 20px;
        gap: 30px;
    }
}

@media only screen and (max-height: 750px) {
    h1 {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

@media only screen and (max-height: 660px) {
    h1 {
        display: none;
    }

    .instruction {
        display: none;
    }

    footer {
        display: none;
    }

    .tone {
        display: none;
    }

    .buttons {
        display: flex;
    }

    body {
        justify-content: unset;
    }
}

@media only screen and (max-height: 530px) {
    .canvas {
        height: calc(100vh - 50px);
    }

    canvas {
        height: calc(100vh - 50px);
    }

    .startscreen {
        height: calc(100vh - 50px);
    }

    .endscreen {
        height: calc(100vh - 50px);
    }

    .legalNotice {
        height: calc(100vh - 50px);
    }

    .privacyPolicy {
        height: calc(100vh - 50px);
    }

    .endscreen img {
        height: calc(100vh - 50px);
    }
    
    .startscreen img {
        height: calc(100vh - 50px);
    }

    .turnYourDevice {
        height: calc(100vh - 50px);
    }
}